.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}
.modal {
  width: 450px;
  background: #fff;
  border-radius: 16px;
  padding: 24px;

  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.15);
}
.modal h1{
    font-size: 20px;
    font-weight: 500;
    color: #282828;
    text-align: center;
    margin-bottom: 1rem;
}
.modal form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.form{
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 5px ;

}
.form label{
    display: flex;
    font-weight: 500;
    font-size: 14px;
    color: #282828;
}
.form input{
    border: none;
    border-radius: 10px;
    width: 389px;
    height: 42px;
    background-color: #f2f2f2;
    margin-bottom: 1rem;
    font-size: 14px;
    font-weight: 300;
    color: #282828;

}
.form button{
    width: 185px;
    height: 42px;
    gap: 10px;
    border-radius: 10px;
    border: none;
     background-color: #dfdfdf;
     font-size: 14px;
     font-weight: 500;
    
}
.btn{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #282828;
}
#btn button{
   background-color: #55a3f0;
   color: #fff; 
}