.homePanel {

  --text-secondary: #666;

  display: flex;
  flex-direction: column;
  align-items: center;
  
 margin: 10% ;

}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 120px 60px;
  border-radius: 10px;
}

.home h1{
  margin-bottom: 2rem;
  font-weight: 600;
  background-color: #1a1a1a2c;
  border-radius: 15px;
  padding: 5px 10px;
  box-sizing: border-box;
  min-width: 400px;
  text-align: center;
  
}

.home h3 {
  max-width: 320px;
  font-size: 20px;
  font-weight: 600;
  color: #282828;
}
.home h4{
  margin-top: 36px;

}
.home p {
  max-width: 440px;
  font-size: 14px;
  line-height: 32px;
 
  color: var(--text-secondary);
}

.home a {
  font-weight: 800;
  min-width: 150px;
  color: #fff;
  background-color: #55A3F0;
  border-radius: 8px;
  padding: 5px 7px;
  margin-top: 16px;
  text-align: center;

}
