body {
  background-color: rgb(238, 244, 244);
}

.container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-direction: column;
  width: 460px;
  height: 596px;
  top: 240px;
  left: 485px;
  margin: 10% auto;
  background-color: #fff;
  border-radius: 40px;
}
.container h1 {
  font-size: 24px;
  font-weight: 500;
  color: #282828;
}
.regLink {
  color: #55a3f0;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  margin: 16px 8px;
}
.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.loginForm button {
  width: 400;
  height: 53;
  border-radius: 15px;
  top: 693px;
  left: 520px;
  padding: 10px;
  gap: 10px;
  color: #fff;
  border: none;
  background-color: #55a3f0;
  font-size: 20px;
  font-weight: 600;
  margin-top: 36px;
}
.loginForm input {
  width: 400;
  height: 53;
  border-radius: 15px;
  color: #100f0f;
  top: 467px;
  left: 520px;
  gap: 20px;
  padding-top: 22px;
  padding-right: 15px;
  padding-bottom: 22px;
  padding-left: 15px;
  border: none;
  font-size: 1rem;
}
.errorBox {
  margin-top: 10px;
  padding: 10px;
  background: #ffe5e5;
  color: #d8000c;
  border-radius: 8px;
  font-size: 14px;
}
