.container {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 24px;  
}
.searchBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.managementDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding-right: 15px;
  border-right: #282828 solid 1px;
}

.managementDetails .pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.managementText {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 1.2;
}

.managementText h4 {
  font-weight: 400;
  font-size: 16px;
  color: #282828;
  margin: 0;
}

.managementText span {
  font-weight: 500;
  font-size: 14px;
  color: #282828;
}

.searchBox {
  width: 280px;
  height: 36px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 10px;
  border-radius: 8px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  color: #282828;
  margin-right: 10px;
  margin-top: 8px;
}

.searchBox svg {
  flex-shrink: 0;
  color: #666;
}

.searchBox input {
  flex: 1;
  height: 100%;

  border: none;
  outline: none;
  background: transparent;

  font-size: 0.9rem;
  font-weight: 500;
  color: #333;
}

.searchBox:focus-within {
  border-color: #55A3F0;
  box-shadow: 0 0 0 2px rgba(0, 92, 85, 0.15);
}
.pageHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.pageHeader p {
  font-size: 1.2rem;
  font-weight: 600;
}

.pageHeader button {
  
  background-color:#55A3F0 ; 
  color: #fff;
  border-radius: 10px;
  border: none;
  padding: 10px;
  gap: 10px;
  font-size: 1rem;
  font-weight: 400;
}
.pageHeaderText{
    display: flex;
    align-items: center;
    gap: 10px;
}
.productTable{
  width: 100%;
  height: 747px;
}
.productTable table{
  border: none;
  border-radius: 10px;
  
  
}